<div class="container">
    <h1>Tweet details</h1>
    <%= render partial: 'tweet', locals: { tweet: @tweet } %>
    <%= button_to "Eliminar Tweet", @tweet, method: :delete, class: "btn btn-danger" %>
</div>